doctype html
html(lang='en')
	include ../common/head.pug
	body
		.page
			.page-overlay

			include ../components/menu-panel.pug
			include ../components/header.pug
			.control-panel
				h1.title R’Ask by Day
				.r-bar
					button.blue-btn.upload
						svg
							use(xlink:href='#upload')
						| Save to My Queries
					button.blue-btn.save
						svg
							use(xlink:href='#save')
						| Save
					button.dark-grey-btn.export
						svg
							use(xlink:href='#exit')
						| Export
			.content
				.table-block.multi-table
					.table-wrapper
						table.js-color-table
							tr
								th ROW Labels
									svg
										use(xlink:href='#filter')
								- var n = 1;
									while n < 32
										th= n++
								th TOTAL
							tr.outer
								td(data-attr = "add-cell") AHB
								each cell in ['86', '150', '150', '120', '155', '34', '34', '143', '62', '130', '93', '61', '45', '61', '167', '166', '150', '21', '130', '90', '42', '27', '123', '75', '143', '82', '159', '166', '42', '51', '100']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 250
							tr.hidden
								td(data-attr = "add-cell") AHB/SHJ
								each cell in ['76.5', '43.1', '64.1', '67.9', '52.5', '66.3', '52.0', '82.5', '66.3', '43.7', '61.6', '49.0', '76.5', '34.9', '57.8', '68.5', '85.2', '38.4', '65.1', '75.9', '44.5', '43.1', '45.7', '65.1', '70.8', '28.7', '62.3', '44.2', '61.6', '59.7', '86.7']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 337.4
							tr.hidden
								td(data-attr = "add-cell") SHJ/AHB
								each cell in ['45.7', '55.8', '76.5', '80.8', '52.0', '34.4', '64.1', '53.6', '77.9', '85.3', '36.4', '86.1', '44.6', '53.1', '86.8', '51.4', '45.8', '27.5', '44.2', '80.8', '80.8', '35.2', '44.2', '66.3', '65.1', '68.4', '41.0', '66.3', '76.5', '50.9', '49.0']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 335.2
							tr.outer
								td(data-attr = "add-cell") MCT
								each cell in ['76.5', '43.1', '64.1', '67.9', '52.5', '66.3', '52.0', '82.5', '66.3', '43.7', '61.6', '49.0', '76.5', '34.9', '57.8', '68.5', '85.2', '38.4', '65.1', '75.9', '44.5', '43.1', '45.7', '65.1', '70.8', '28.7', '62.3', '44.2', '61.6', '59.7', '86.7']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 1500
							tr.hidden
								td(data-attr = "add-cell") AHB/SHJ
								each cell in ['86', '150', '150', '120', '155', '34', '34', '143', '62', '130', '93', '61', '45', '61', '167', '166', '150', '21', '130', '90', '42', '27', '123', '75', '143', '82', '159', '166', '42', '51', '100']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 337.4
							tr.hidden
								td(data-attr = "add-cell") SHJ/AHB
								each cell in ['45.7', '55.8', '76.5', '80.8', '52.0', '34.4', '64.1', '53.6', '77.9', '85.3', '36.4', '86.1', '44.6', '53.1', '86.8', '51.4', '45.8', '27.5', '44.2', '80.8', '80.8', '35.2', '44.2', '66.3', '65.1', '68.4', '41.0', '66.3', '76.5', '50.9', '49.0']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 335.2
							tr.outer
								td(data-attr = "add-cell") AMM
								each cell in ['86', '150', '150', '120', '155', '34', '34', '143', '62', '130', '93', '61', '45', '61', '167', '166', '150', '21', '130', '90', '42', '27', '123', '75', '143', '82', '159', '166', '42', '51', '100']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 300
							tr.hidden
								td(data-attr = "add-cell") AHB/SHJ
								each cell in ['76.5', '43.1', '64.1', '67.9', '52.5', '66.3', '52.0', '82.5', '66.3', '43.7', '61.6', '49.0', '76.5', '34.9', '57.8', '68.5', '85.2', '38.4', '65.1', '75.9', '44.5', '43.1', '45.7', '65.1', '70.8', '28.7', '62.3', '44.2', '61.6', '59.7', '86.7']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 337.4
							tr.hidden
								td(data-attr = "add-cell") SHJ/AHB
								each cell in ['45.7', '55.8', '76.5', '80.8', '52.0', '34.4', '64.1', '53.6', '77.9', '85.3', '36.4', '86.1', '44.6', '53.1', '86.8', '51.4', '45.8', '27.5', '44.2', '80.8', '80.8', '35.2', '44.2', '66.3', '65.1', '68.4', '41.0', '66.3', '76.5', '50.9', '49.0']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 335.2
							tr.outer
								td(data-attr = "add-cell") DOH
								each cell in ['76.5', '43.1', '64.1', '67.9', '52.5', '66.3', '52.0', '82.5', '66.3', '43.7', '61.6', '49.0', '76.5', '34.9', '57.8', '68.5', '85.2', '38.4', '65.1', '75.9', '44.5', '43.1', '45.7', '65.1', '70.8', '28.7', '62.3', '44.2', '61.6', '59.7', '86.7']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 1500
							tr.hidden
								td(data-attr = "add-cell") AHB/SHJ
								each cell in ['86', '150', '150', '120', '155', '34', '34', '143', '62', '130', '93', '61', '45', '61', '167', '166', '150', '21', '130', '90', '42', '27', '123', '75', '143', '82', '159', '166', '42', '51', '100']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 337.4
							tr.hidden
								td(data-attr = "add-cell") SHJ/AHB
								each cell in ['45.7', '55.8', '76.5', '80.8', '52.0', '34.4', '64.1', '53.6', '77.9', '85.3', '36.4', '86.1', '44.6', '53.1', '86.8', '51.4', '45.8', '27.5', '44.2', '80.8', '80.8', '35.2', '44.2', '66.3', '65.1', '68.4', '41.0', '66.3', '76.5', '50.9', '49.0']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 335.2
							tr.outer
								td(data-attr = "add-cell") AHB
								each cell in ['86', '150', '150', '120', '155', '34', '34', '143', '62', '130', '93', '61', '45', '61', '167', '166', '150', '21', '130', '90', '42', '27', '123', '75', '143', '82', '159', '166', '42', '51', '100']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 700
							tr.hidden
								td(data-attr = "add-cell") AHB/SHJ
								each cell in ['76.5', '43.1', '64.1', '67.9', '52.5', '66.3', '52.0', '82.5', '66.3', '43.7', '61.6', '49.0', '76.5', '34.9', '57.8', '68.5', '85.2', '38.4', '65.1', '75.9', '44.5', '43.1', '45.7', '65.1', '70.8', '28.7', '62.3', '44.2', '61.6', '59.7', '86.7']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 337.4
							tr.hidden
								td(data-attr = "add-cell") SHJ/AHB
								each cell in ['45.7', '55.8', '76.5', '80.8', '52.0', '34.4', '64.1', '53.6', '77.9', '85.3', '36.4', '86.1', '44.6', '53.1', '86.8', '51.4', '45.8', '27.5', '44.2', '80.8', '80.8', '35.2', '44.2', '66.3', '65.1', '68.4', '41.0', '66.3', '76.5', '50.9', '49.0']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 335.2
							tr.outer
								td(data-attr = "add-cell") MCT
								each cell in ['76.5', '43.1', '64.1', '67.9', '52.5', '66.3', '52.0', '82.5', '66.3', '43.7', '61.6', '49.0', '76.5', '34.9', '57.8', '68.5', '85.2', '38.4', '65.1', '75.9', '44.5', '43.1', '45.7', '65.1', '70.8', '28.7', '62.3', '44.2', '61.6', '59.7', '86.7']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 100
							tr.hidden
								td(data-attr = "add-cell") AHB/SHJ
								each cell in ['86', '150', '150', '120', '155', '34', '34', '143', '62', '130', '93', '61', '45', '61', '167', '166', '150', '21', '130', '90', '42', '27', '123', '75', '143', '82', '159', '166', '42', '51', '100']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 337.4
							tr.hidden
								td(data-attr = "add-cell") SHJ/AHB
								each cell in ['45.7', '55.8', '76.5', '80.8', '52.0', '34.4', '64.1', '53.6', '77.9', '85.3', '36.4', '86.1', '44.6', '53.1', '86.8', '51.4', '45.8', '27.5', '44.2', '80.8', '80.8', '35.2', '44.2', '66.3', '65.1', '68.4', '41.0', '66.3', '76.5', '50.9', '49.0']
									td=cell
								td(data-attr = "add-cell", data-total="total-cell") 335.2